name: Backend Deploy

on:
  push:
    branches:
      - main
    paths:
      - "app/**"
      - ".github/workflows/backend-deploy.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login (OIDC)
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Login to Azure Container Registry
        run: az acr login --name aiimguplacr

      - name: Build & Push Docker Image
        run: |
          docker build \
            -t aiimguplacr.azurecr.io/ai-image-uploader:${{ github.sha }} \
            -t aiimguplacr.azurecr.io/ai-image-uploader:latest \
            ./app

          docker push aiimguplacr.azurecr.io/ai-image-uploader:${{ github.sha }}
          docker push aiimguplacr.azurecr.io/ai-image-uploader:latest

      - name: Deploy to Azure Container Apps
        run: |
          az containerapp update \
            --name ai-image-uploader \
            --resource-group rg-ai-image-uploader \
            --image aiimguplacr.azurecr.io/ai-image-uploader:${{ github.sha }}

